{{#platos}}
     <div  class="plato">
      <img class="imres1" placeholder=" " src={{imagen}}  "/></img>
          <div id = {{nombrePlato}} class="card-body p-4">
            <div class="text-center">
              <h5 class="nombrePlato" >  {{nombre}} </h5> 
                <div id="precioPlato">  {{precio}} </div>
            </div>
          </div>
          
           <div class="text-center" class="plato button:hover">
              <button onclick="masInfo ('{{nombre}}')>Mas info</button>
           </div>
    </div>
{{/platos}} 