/*ESTILOS GLOBALES DE LA PAGINA*/
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}

/*=========================ADAPTACIÓN DE PLATOS A PANTALLAS MUY PEQUEÑAS================================*/

@media (max-width: 576px) {
  #servicios-fila-2 {
      width:100% !important;
  }
  #servicios-fila-1 {
      width:100% !important;
  }

  .icono-wrap{
      flex-wrap:wrap !important;
      justify-content: center !important;
      text-align: center;
  }
}


/*ESTILOS DE LA BARRA DE NAVEGACIÓN*/
#barranav{
    opacity: 92.5%;
}

/*ESTILOS DEL CARRUSEL*/
.carousel-inner{
    max-height: 30rem;
}





/*pie de página*/
.footer{
  background-color:beige;
  width:100%;
  height:10%;
 /*max-height: fit-content*/;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: underline;
  text-decoration-color: rgb(70, 70, 100);
  line-height: 2rem;
  color: black;
  margin-top: 10px;
}

.footer-content h2{
  font-size: 2.0rem;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: underline;
  text-decoration-color: rgb(63, 88, 90);
  line-height: 2rem;
  color: black;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 20px;
  font-size: 14px;
  color: black;
}


.titini {
  font-size: 70px;
  font-weight: bolder;
  text-decoration: underline;
  text-decoration-color: rgb(155, 169, 130);
  text-align: center;
  color:bisque;
}


.titulotext {
    font-size: x-large;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    color:rgb(0, 0, 0);
}

.imres1{

  width: 20%;
  height:40%;
  margin-left:40%;
  margin-right: 40%;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 20px;
}


#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}


.clasificacion{
    font-size: 90px;
    text-align: center;
}

.titulovaloraciones{
  font-size: 30px;
  font-weight: bolder;
  text-decoration: underline;
  text-decoration-color: darkolivegreen;
  text-align: center;
  color:bisque;
}

.formval{
  font-size: 20px;
  font-weight: bolder;
  text-decoration: underline;
  text-decoration-color: darkkhaki;
  text-align: center;
  color:bisque;
}

.iniciarpagina {
  font-size: 20px;
  font-weight: bolder;
  color:black;
   align-items: center;
}

#imagenpresentacion{
  margin: auto;
}

