/*ESTILOS GLOBALES DE LA PAGINA*/
body {
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   overflow-x: hidden;
   background-color: rgb(255, 140, 0);
}




/*ESTILOS DE LA BARRA DE NAVEGACIÓN*/
#barranav {
   background-color: beige;
   opacity: 92.5%;
}

/*ESTILOS DEL CARRUSEL*/
.carousel-inner {
   max-height: 30rem;
}


/*ESTILOS DEL PIE DE PÁGINA*/
footer {
   background-color: beige;
   position: flex;
   bottom: 0;
   width: 100%;
}

.footer-content {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.columna1 {
   width: 50%;
   margin-top: 2%;
   margin-bottom: 2%;
   margin-right: -5%;
   text-align: center;
}

.columna2 {
   width: 50%;
   margin-top: 2%;
   margin-bottom: 2%;
   margin-left: -5%;
   text-align: center;
}


.footer-content h2 {
   font-family: 'Courier New', Courier, monospace;
   font-size: 2.0rem;
   font-weight: 800;
   text-transform: capitalize;
   text-decoration-color: rgb(63, 88, 90);
   line-height: 2rem;
   color: black;
}

.footer-content p {
   font-family: 'Courier New', Courier, monospace;
   font-style: italic;
   max-width: 500px;
   margin: 10px auto;
   line-height: 20px;
   font-size: 14px;
   color: black;
   text-align: center;
}



.titulotext {
   text-align: center;
   font-size: x-large;
   margin-left: 10%;
   margin-right: 10%;
   margin-top: 20px;
   margin-bottom: 20px;
   color: rgb(0, 0, 0);
}

/*ESTILO DE ALGUNAS IMÁGENES*/
.imres1 {
   width: 50%;
   height: auto;
   display: block;
   margin: 0 auto;
   margin-top: 2%;
   margin-bottom: 3%;
   border-radius: 20px;
}

.plato {
   
   border-radius: 5px;
   padding: 10px;
   margin-bottom: 10px;
   background-color: white;
   width: 300px;
   display: inline-block;
 }
 
 .plato button {
   /* Estilos para el botón "Más info" */
   text-align: center;
   background-color: beige;
   border: none;
   padding: 10px 20px;
   border-radius: 15px;
   color: black;
   font-weight: bold;
 }
 
 .plato button:hover {
   /* Estilos para cuando el mouse pasa sobre el botón */
   background-color: bisque;
   cursor: pointer;
 }

 .noPlatos {
   
   text-align: center;
   font-size: 24px;
   margin-top: 50px;
   margin-bottom: 50px;
 }

 .botones{
      border:none;
      padding: 25px 25px;
      text-align: center;
      margin-top: 45px;
      margin-bottom: 40px;
      font-style: inherit;
 }

 .boton{
      background-color: rgb(224, 193, 146);
      border-color:black;
      border-style:double;
      padding: 10px 20px;
      border-radius: 5px;
      color: black;
      cursor: grabbing;
 }

 #info {
   margin:auto;
   text-align:center;
   font-family: 'Courier New', Courier, monospace;
   font-size: medium;
   font-weight: 600;
   padding-top: 5%;
   padding-bottom: 5%;
 }

 #name {
   font-size: 800;
   font-weight: bold;
   text-decoration: underline;
 }